.header {
    display: flex;
    align-items: center;
    margin: 20px auto 37px;
    height: 40px;
}

.navigation {
    display: none;
}

.header__logo {
    width: 121px;
}

.header__burger {
    display: block;
}

/********************************/
.grey {
    color: #646464;
}

.black {
    color: #212121;
}

/********************************/
.first-section {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 60px;
}

.chapter-name {
    font-family: "Poppins-Medium";
    font-size: 15px;
    line-height: 20px;
}

.first-article__descriptor {
    font-family: "Poppins-Medium";
    text-align: center;
    font-size: 42px;
    line-height: 48px;
}

.first-article__description {
    font-family: "OpenSans-Regular";
    font-size: 18px;
    line-height: 30px;
    width: auto;
}

.green-button {
    color: white;
    font-family: "OpenSans-Bold";
    font-size: 16px;
    line-height: 25px;
    background-color: #37806B;
    border-radius: 20px 0;
    width: 320px;
    height: 43px;
    cursor: pointer;
}

.first-section__image {
    display: none;
}

.first-background::before {
    display: none;
}

.first-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    width: 97%;
}

.pattern {
    display: none;
}

/********************************/
.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.second-section__descriptor {
    font-family: "Poppins-Medium";
    text-align: center;
    font-size: 34px;
    line-height: 28px;
    margin: 5px 0;
}

.second-section__arrows {
    display: flex;
    justify-content: space-between;
    width: 90px;
    margin-right: 0;
}

.aligning {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 197px;
}

.arrow-container {
    background-color: white;
    border-radius: 50%;
    box-shadow: -1px 3px 10px 0px rgba(0, 0, 0, 0.3);
    height: 30px;
    width: 30px;
}

.arrow {
    font-family: "Poppins-Medium";
    font-size: 18px;
}

.second-section__cards {
    margin: 20px 0;
    width: 100%;
}

.card:nth-of-type(odd) {
    display: none;
}

.card {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    width: 97%;
    height: 221px;
    border-radius: 60px 0;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.14);
}

.card__vector {
    height: 40px;
    width: 40px;
    margin: 30px 0 0 30px;
}

.card__description {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    align-self: normal;
    margin-left: 30px;
}

.card__title {
    font-family: "OpenSans-Bold";
    font-size: 24px;
    line-height: 33px;
    margin: 0;
}

.card__text {
    font-family: "OpenSans-Regular";
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.18px;
    width: 90%;
    height: 87px;
    overflow: hidden;
}

.selected {
    background-color: #CAA892;
    color: white;
}

/************************************/
.third-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px auto 0;
    column-gap: 0;
    width: 90%;
}

.second-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 6px;
    margin: 24px 0 45px;
}

.second-article__descriptor {
    font-family: "Poppins-Medium";
    font-size: 34px;
    line-height: 48px;
}

.second-article__description {
    font-family: "OpenSans-Regular";
    font-size: 16px;
    line-height: 30px;
    width: 100%;
    overflow: hidden;
    height: 123px;
}

.third-section__image {
    position: relative;

}

.sizing {
    height: 257px;
    border-radius: 60px 0;
}

.second-background::before {
    content: " ";
    left: -14px;
    top: -14px;
    width: 100%;
    height: 257px;
    position: absolute;
    border-radius: 60px 0;
    outline: 2px solid #B0855B;
}

/***************************************/
.fourth-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.third-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 15px;
    width: 100%;
}

.wooden-number {
    font-family: "OpenSans-Bold";
    font-size: 246px;
    line-height: 214px;
    letter-spacing: -2.88px;
    background: url(../images/wood-texture.jpg) no-repeat center/cover;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.third-article__descriptor {
    font-family: "Poppins-Medium";
    font-size: 34px;
    line-height: 48px;
    letter-spacing: 0;
    width: 90%;
}

.fourth-section__image {
    position: relative;
    display: none;
}

/*****************************/
.fifth-section {
    padding: 61px 0px 50px;
    margin-top: 45px;
    row-gap: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8F8;
}

.statistics-descriptor {
    text-align: center;
    font-family: "Poppins-Medium";
    font-size: 34px;
    line-height: 48px;
    letter-spacing: -1px;
    width: 95%;
}

.br {
    display: none;
}

.statistics {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: auto;
    width: 100%;
}

.statistics__card {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
    height: 172px;
    border-radius: 40px 0px;
    background: #FFF;
    box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.10);
    font-family: "OpenSans-Semibold";
    font-size: 18px;
    line-height: 30px;
}

.vector {
    display: none;
}

.stat-num {
    font-family: "OpenSans-Bold";
    font-size: 50px;
    line-height: 60px;
}

.statistics__card:nth-of-type(even) {
    align-self: normal;
}

.spec {
    margin-top: -95px;
}

/******************************/
.sixth-section {
    margin: 44px auto 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.reviewrap {
    display: flex;
    column-gap: 0;
    width: 100%;
}

.arrow-align {
    margin: 10px 0 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 320px;
    flex-wrap: wrap;
    text-align: center;
}

.sixth-section__arrows {
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.review:nth-of-type(2) {
    display: none;
}

.review {
    display: flex;
    width: 100%;
    height: 209px;
    border-radius: 70px 0px;
    box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
    position: relative;
}

.testimonials-descriptor {
    font-family: "Poppins-Medium";
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 10px;
}

.review-head {
    font-family: "OpenSans-Bold";
    font-size: 20px;
    line-height: 33px;
    margin-bottom: 0px;
}

.post {
    font-family: "OpenSans-Regular";
    font-size: 16px;
    line-height: 22px;
    display: none;
}

.review-description {
    font-family: "OpenSans-Regular";
    font-size: 16px;
    line-height: 28px;
    width: 94%;
    height: 87px;
    overflow: hidden;
}

.review-photo {
    margin-left: 14px;
    margin-right: 13px;
    width: 100px;
    height: 101px;
    border-radius: 35px 0px;
}

.test-chapter {
    align-self: left;
}

.review::before {
    content: "";
    position: absolute;
    background-image: url(../images/quote.svg);
    width: 27px;
    height: 24px;
    top: 30px;
    right: 30px;
}

/************************************************/
.seventh-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 50px;
    margin: 0;
    background-color: #F8F8F8;
    /* width: 100%; */
}

.seventh-section__news {
    display: flex;
    justify-content: center;
    width: 100%;
}

.seventh-section__news>div:nth-of-type(2) {
    display: none;
}

.newscard {
    width: 100%;
    text-align: center;
}

.seventh-section__title {
    font-family: "Poppins-Medium";
    text-align: center;
    font-size: 34px;
    line-height: 48px;
    margin: 0px 0 11px;
}

.seventh-section__image {
    width: 100%;
    height: 257px;
    object-fit: cover;
    border-radius: 50px 0px;
    position: relative;
}

.seventh-section__wrap {
    position: relative;
    display: flex;
    justify-content: center;
}

.seventh-section__wrap::before {
    content: "";
    right: -14px;
    bottom: -14px;
    position: absolute;
    width: 100%;
    height: 257px;
    border-radius: 50px 0;
    outline: 2px solid #B0855B;
}

.newscard__descriptor {
    font-family: "OpenSans-Semibold";
    font-size: 30px;
    line-height: 28px;
    margin: 29px 0 10px 0;
}

.newscard__description {
    font-family: "OpenSans-Regular";
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
    width: 91%;
}

.newscard__button {
    font-family: "OpenSans-Bold";
    font-size: 18px;
    line-height: 25px;
    background-color: #37806B;
    border-radius: 20px 0;
    width: 90%;
    height: 43px;
    cursor: pointer;
}

/***********************************************/
.subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 18px;
    margin-top: 90px;
}

.subscribe__hr {
    margin: 0;
    width: 84%;
}

.subscribe__form {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
}

.subscribe__input {
    line-height: 22px;
    font-size: 18px;
    color: #646464;
    background: #eeeeee;
    border-radius: 20px 20px 0 0;
    padding: 0 10px 0 27px;
    height: 50px;
    border: none;
    text-align: center;
}

.subscribe__button {
    font-family: "OpenSans-Bold";
    font-size: 16px;
    line-height: 28px;
    color: #FFF;
    border-radius: 0px 0px 20px 20px;
    background: #37806B;
    width: 100%;
    height: 50px;
    cursor: pointer;
}

.subscribe__descriptor {
    font-family: "Poppins-Medium";
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 3.84px;
}

.subscribe__description {
    font-family: "OpenSans-Regular";
    text-align: center;
    width: 90%;
    font-size: 18px;
    line-height: 28px;
}

/********************************************************/
.footer {
    padding: 84px 56px 116px 33px;
    margin-top: 108px;
    background-color: #F8F8F8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__quote {
    font-family: "OpenSans-Regular";
    font-size: 18px;
    line-height: 28px;
    width: 280px;
    margin-top: 10px;
}

.footer__tabs {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    width: 100%;
    margin: 33px 0;
}

.tab {
    font-family: "OpenSans-Regular";
    font-size: 18px;
    line-height: 40px;
}

.tab__title {
    font-family: "OpenSans-Semibold";
    font-size: 24px;
}

.first-tab {
    width: 182px;
}

.second-tab {
    width: 143px;
}

.third-tab {
    width: 199px;
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F8F8F8;
}

.socials-title {
    font-family: "OpenSans-Semibold";
    font-size: 24px;
}

.logoes {
    display: flex;
    justify-content: space-between;
    width: 172px;
    margin-top: 19px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: #D5D5D5;
}

.copyright__info {
    font-family: "OpenSans-Regular";
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin: 20px 0;
}

.copyright__hr {
    height: 1px;
}